<div class="neumorphic-background">
  <div class="neumorphic-card">

 <div class="header-section">
      <!-- <div class="neumorphic-circle-profile">
        <img [src]="vendorForm.get('profileImageUrl')?.value" 
             alt="Vendor Logo" 
             class="profile-img">
      </div> -->
      <h2 class="form-title">Vendor Shop Profile</h2>
    </div>

	 <div class="row">
          <div class="col-3">
            <!-- <label class="neumorphic-label">City</label> -->
            <div class="neumorphic-circle-profile">
              <div style="width: 100%; height: 100%;">
				<!-- <img [src]="vendorForm.get('profileImageUrl')?.value || 'https://thumbs.dreamstime.com/b/ilustraci%C3%B3n-de-avatar-empresario-retrato-usuario-dibujos-animados-icono-perfil-simple-un-l%C3%ADder-empresarial-vectorial-283356421.jpg?w=768'" 
					alt="Vendor Logo" 
					class="profile-img"> -->
					<img src="https://thumbs.dreamstime.com/b/ilustraci%C3%B3n-de-avatar-empresario-retrato-usuario-dibujos-animados-icono-perfil-simple-un-l%C3%ADder-empresarial-vectorial-283356421.jpg?w=768" 
					alt="Vendor Logo"  style="border-radius: 50%;"
					class="profile-img">
			</div>
            </div>
          </div>
          <div class="col-3">
            <label class="neumorphic-label">Name</label>
            <div class="neumorphic-input-wrapper" style="height: 30px;">
              <input type="text" formControlName="Name" class="neumorphic-input" style="padding: 0px;">
            </div>
			 <label class="neumorphic-label">Email</label>
            <div class="neumorphic-input-wrapper" style="height: 30px;">
              <input type="text" formControlName="Email" class="neumorphic-input" style="padding: 0px;">
            </div>
			 <label class="neumorphic-label">Phone Number</label>
            <div class="neumorphic-input-wrapper" style="height: 30px;">
              <input type="text" formControlName="PhoneNumber" class="neumorphic-input" style="padding: 0px;">
            </div>
          </div>
		   <div class="col-3">
            <label class="neumorphic-label">Zip Code</label>
            <div class="neumorphic-input-wrapper">
              <input type="text" formControlName="zipCode" class="neumorphic-input">
            </div>
          </div>
          <div class="col-3">
            <label class="neumorphic-label">Country</label>
            <div class="neumorphic-input-wrapper">
              <input type="text" formControlName="country" class="neumorphic-input" placeholder="e.g., India">
            </div>
          </div>
        </div>


    <!-- <div class="header-section">
      <div class="neumorphic-circle-profile">
        <img [src]="vendorForm.get('profileImageUrl')?.value" 
             alt="Vendor Logo" 
             class="profile-img">
      </div>
      <h2 class="form-title">Vendor Shop Profile</h2>
    </div> -->
    
    <form [formGroup]="vendorForm" (ngSubmit)="onSubmit()">

      <h3 class="section-title">Shop Details</h3>
      <div class="form-group">
        <label class="neumorphic-label">Shop Name</label>
        <div class="neumorphic-input-wrapper">
          <input type="text" formControlName="shopName" class="neumorphic-input">
        </div>
        </div>

      <div class="form-group">
        <label class="neumorphic-label">Tagline (Short Summary)</label>
        <div class="neumorphic-input-wrapper">
          <input type="text" formControlName="tagline" class="neumorphic-input">
        </div>
      </div>

      <div class="form-group">
        <label class="neumorphic-label">Shop Description</label>
        <div class="neumorphic-input-wrapper-textarea">
          <textarea formControlName="description" class="neumorphic-textarea"></textarea>
        </div>
      </div>

      <h3 class="section-title">Contact & Classification</h3>
      <div class="row">
        <div class="col-6">
          <label class="neumorphic-label">Shop Category</label>
          <div class="neumorphic-input-wrapper">
            <input type="text" formControlName="shopCategory" class="neumorphic-input" placeholder="e.g., Clothing, Electronics">
          </div>
        </div>
        <div class="col-6">
          <label class="neumorphic-label">Website URL</label>
          <div class="neumorphic-input-wrapper">
            <input type="url" formControlName="websiteUrl" class="neumorphic-input">
          </div>
        </div>
      </div>
      <div class="row">
         <div class="col-6">
          <label class="neumorphic-label">Contact Email</label>
          <div class="neumorphic-input-wrapper">
            <input type="email" formControlName="contactEmail" class="neumorphic-input">
          </div>
        </div>
        <div class="col-6">
          <label class="neumorphic-label">Contact Phone</label>
          <div class="neumorphic-input-wrapper">
            <input type="tel" formControlName="contactPhone" class="neumorphic-input">
          </div>
        </div>
      </div>

      <h3 class="section-title">Shop Address</h3>
      <div formGroupName="address">
        <div class="form-group">
          <label class="neumorphic-label">Street Address</label>
          <div class="neumorphic-input-wrapper">
            <input type="text" formControlName="street" class="neumorphic-input">
          </div>
        </div>
        
        <div class="row">
          <div class="col-4">
            <label class="neumorphic-label">City</label>
            <div class="neumorphic-input-wrapper">
              <input type="text" formControlName="city" class="neumorphic-input">
            </div>
          </div>
          <div class="col-4">
            <label class="neumorphic-label">Zip Code</label>
            <div class="neumorphic-input-wrapper">
              <input type="text" formControlName="zipCode" class="neumorphic-input">
            </div>
          </div>
          <div class="col-4">
            <label class="neumorphic-label">Country</label>
            <div class="neumorphic-input-wrapper">
              <input type="text" formControlName="country" class="neumorphic-input" placeholder="e.g., India">
            </div>
          </div>
        </div>
      </div>
      
      <h3 class="section-title">Shop Gallery Images</h3>
      <div formArrayName="galleryImages">
        <div class="row" *ngFor="let control of galleryImages.controls; let i = index">
          <div class="col-9">
            <label class="neumorphic-label">Image URL {{ i + 1 }}</label>
            <div class="neumorphic-input-wrapper">
              <input type="url" [formControlName]="i" class="neumorphic-input">
            </div>
          </div>
          <div class="col-3 button-col">
            <button type="button" (click)="removeImageField(i)" class="neumorphic-button-icon" [disabled]="galleryImages.length === 1">
              <span class="icon-text">DEL</span>
            </button>
          </div>
        </div>
      </div>

      <button type="button" (click)="addImageField()" class="neumorphic-button-add">
        Add Another Image
      </button>

      <button type="submit" [disabled]="vendorForm.invalid" class="neumorphic-button-submit">
        SAVE PROFILE
      </button>

    </form>
  </div>
</div>