<app-header></app-header>

<main class="main-content-container">
  <app-hero-banner></app-hero-banner>

  <div class="container">
    <section class="section quick-access-section">
      <h2 class="section-title">Quick Access: Event Categories</h2>
      <!-- <app-quick-access></app-quick-access> -->
    </section>

    <section class="section trending-vendors-section">
      <h2 class="section-title featured-title">
        <span class="emoji">⭐</span> Trending Near You: Featured Vendors
      </h2>
      <app-vendor-carousel></app-vendor-carousel>
    </section>

    <section class="section how-it-works-section">
      <h2 class="section-title">How It Works</h2>
      <app-how-it-works></app-how-it-works>
    </section>

    <section class="section blog-reviews-section">
      <h2 class="section-title">Testimonials/Reviews & Blog & Tips</h2>
      <app-blog-and-reviews></app-blog-and-reviews>
    </section>
  </div>
</main>

<app-footer></app-footer>