<app-header></app-header>

<main class="main-content-container">
  <!-- <app-hero-banner></app-hero-banner> -->

  <app-slider-bar-home></app-slider-bar-home>
  <app-home-page-filter></app-home-page-filter>
  <app-home-page-card-info></app-home-page-card-info>
  <app-home-page-card-info></app-home-page-card-info>
  <app-festival-planing-analytics></app-festival-planing-analytics>
  <app-what-our-client-say></app-what-our-client-say>
  <app-festival-planing-resources></app-festival-planing-resources>
</main>

<app-footer></app-footer>