<header class="header">
  <div class="container">
    <!-- LOGO -->
    <div class="logo">
      <lucide-icon name="calendar-check"></lucide-icon>
      <span>EventEase</span>
    </div>

    <!-- SEARCH SECTION -->
    <div class="search-section">
      <!-- <div class="search-box">
        <input type="text" placeholder="e.g. Studio / DJ, Photographer">
        <button><lucide-icon name="search"></lucide-icon></button>
      </div> -->

      <div class="search-box">
        <input type="text" placeholder="Delhi, Pother">
        <lucide-icon name="calendar-days"></lucide-icon>
        <button class="btn-orange">
          <lucide-icon name="search"></lucide-icon> Search
        </button>
      </div>
    </div>

    <!-- USER SECTION -->
    <div class="user-section">
      <a href="#" class="link">Login / Register</a>
      <a href="#" class="link">My Booking</a>
      <a href="#" class="cart">
        <lucide-icon name="shopping-cart"></lucide-icon><span>(0)</span>
      </a>
    </div>
  </div>
</header>
